includes:
	- config/forms.neon
	- config/component.neon
	- config/dic.neon
	- config/latte.neon
	- config/latteForms.neon

parametersSchema:
	orisai: arrayOf(array(), string())

services:
	orisai.nette.installedVersions:
		factory: OriPhpstan\Nette\Support\ProjectInstalledVersions::get()
		autowired: false

	orisai.nette.configuration:
		class: OriPhpstan\Nette\Configuration\Configuration
		arguments:
			config: %orisai.nette%
		autowired: false

	orisai.nette.configurationGuard:
		class: OriPhpstan\Nette\Configuration\ConfigurationGuard
		arguments:
			configuration: @orisai.nette.configuration
			fileExtensions: %fileExtensions%
			installedVersions: @orisai.nette.installedVersions
		autowired: false

	-
		class: OriPhpstan\Nette\Configuration\ConfigurationGuardRule
		arguments:
			guard: @orisai.nette.configurationGuard
		tags: [phpstan.rules.rule]
