{templateType Tests\OriPhpstan\Nette\Integration\Latte\Integration\Fixtures\Support\DeclaredParametersFixtureTemplate}
{varType string $headerDeclared}
{$typedNoDefault}
{$defaulted}
{$docblockTyped}
{$headerDeclared}
{$virtualOnly}
