{var string $title = 'Hello World'}
{varType array<string> $items}

{$undefinedVariable}

{$title|padLeft:'notanumber'}

{var int $mismatched = 'not an int'}

{$title|whatsappFormat}

{g_ 'unknown macro'}

{$items}

{dump $undefinedDumpVar}
