parameters:
	customRulesetUsed: true
	bootstrapFiles:
		- ../../../../tests/autoload.php
	orisai:
		nette:
			forms:
				defaultContainerClass: Tests\OriPhpstan\Nette\Doubles\Forms\Form\FormContainer

includes:
	- ../../../../%env.COMPOSER_VENDOR_DIR%/phpstan/phpstan-nette/extension.neon
	- ../../../../extension.neon
