parameters:
	customRulesetUsed: true
	bootstrapFiles:
		- ../../../../tests/autoload.php
	fileExtensions: [php, latte]
	orisaiNette:
		latte:
			enabled: true

includes:
	- ../../../../extension.neon
