parameters:
	orisai:
		nette:
			dic:
				containerLoader: null

services:
	dicContainerRegistry:
		class: OriPhpstan\Nette\Dic\Metadata\MultiContainerRegistry
		arguments:
			loaderFile: @orisai.nette.configuration::get(dic.containerLoader)

	-
		class: OriPhpstan\Nette\Dic\Cache\ContainerResultCacheMetaExtension
		arguments:
			guard: @orisai.nette.configurationGuard
		tags:
			- phpstan.resultCacheMetaExtension

	-
		class: OriPhpstan\Nette\Dic\Rule\ServiceNameCallRule
		arguments:
			guard: @orisai.nette.configurationGuard
		tags:
			- phpstan.rules.rule

	-
		class: OriPhpstan\Nette\Dic\Rule\TypeLookupCallRule
		arguments:
			guard: @orisai.nette.configurationGuard
		tags:
			- phpstan.rules.rule

	-
		class: OriPhpstan\Nette\Dic\Rule\TagCallRule
		arguments:
			guard: @orisai.nette.configurationGuard
		tags:
			- phpstan.rules.rule

	-
		class: OriPhpstan\Nette\Dic\Type\ServiceReturnTypeExtension
		arguments:
			guard: @orisai.nette.configurationGuard
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension

	-
		class: OriPhpstan\Nette\Dic\Type\HasServiceTypeSpecifyingExtension
		arguments:
			guard: @orisai.nette.configurationGuard
		tags:
			- phpstan.typeSpecifier.methodTypeSpecifyingExtension

	-
		class: OriPhpstan\Nette\Dic\Type\HasServiceReturnTypeExtension
		arguments:
			guard: @orisai.nette.configurationGuard
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension

	-
		class: OriPhpstan\Nette\Dic\Type\TypeLookupReturnTypeExtension
		arguments:
			guard: @orisai.nette.configurationGuard
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension

	-
		class: OriPhpstan\Nette\Dic\Type\FindByTypeReturnTypeExtension
		arguments:
			guard: @orisai.nette.configurationGuard
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension

	-
		class: OriPhpstan\Nette\Dic\Type\FindByTagReturnTypeExtension
		arguments:
			guard: @orisai.nette.configurationGuard
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension

	-
		class: OriPhpstan\Nette\Dic\Type\GetServiceTypeReturnTypeExtension
		arguments:
			guard: @orisai.nette.configurationGuard
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension

	-
		class: OriPhpstan\Nette\Dic\Type\GetParametersReturnTypeExtension
		arguments:
			guard: @orisai.nette.configurationGuard
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension

	-
		class: OriPhpstan\Nette\Dic\Type\ParametersPropertyTypeExtension
		arguments:
			guard: @orisai.nette.configurationGuard
		tags:
			- phpstan.broker.expressionTypeResolverExtension
