includes:
	- phpstan-test.neon

expandRelativePaths:
	- '[parameters][dicNarrowingLoader]'

parameters:
	dicNarrowingLoader: ../Fixtures/fixture-container-loader.php

parametersSchema:
	dicNarrowingLoader: string()

services:
	dicNarrowingRegistry:
		class: OriPhpstan\Nette\Dic\Metadata\MultiContainerRegistry
		arguments:
			loaderFile: %dicNarrowingLoader%
		autowired: false

	-
		class: OriPhpstan\Nette\Dic\Type\HasServiceTypeSpecifyingExtension
		arguments:
			guard: @orisai.nette.configurationGuard
			registry: @dicNarrowingRegistry
		tags:
			- phpstan.typeSpecifier.methodTypeSpecifyingExtension
