<form n:name="attrForm">
	<label n:name="email">E-mail</label>
	<input n:name="email">
	<select n:name="country"></select>
	<textarea n:name="note"></textarea>
	<button n:name="send"></button>
</form>
